<div class="container">
<h1>Editar Cliente</h1>

<%= render 'form' %>
<br>
<%= link_to 'Ver', [:admin, @customer], { :class=>'waves-effect waves-light btn'}  %>
<%= link_to 'Volver', admin_customers_path, { :class=>'waves-effect waves-light btn'}  %>
</div>