<div class="container">
  <h2>Editar Producto</h2>

  <%= render 'form' %>

  <%= link_to 'Show', admin_product_path(@product),  { :class=>'waves-effect waves-light btn'} %> |
  <%= link_to 'Volver', admin_products_path,  { :class=>'waves-effect waves-light btn'} %>
</div>
